{% render 'partials/head.liquid' %}

<article>
  <header>
    <h1>Hallo</h1>
    <p>mijn naam is</p>
  </header>
 <div class="background">
      <h1>{{ person.name }} Safae</h1>

    
    <img src="./c1986f25-bf2c-429d-a90f-b7e30fbbb2a8.jpeg" width="200px" >
    
     <ul>
       <li> 18</li>
       <li> Hoorn</li>
       <li> FDND</li>
       <li> Safae.el.jaouhari@hva.nl</li>
     </ul>
    
  
    </div>
 

  <footer></footer>
</article>

{% render 'partials/foot.liquid' %}
